body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}


#mailformulier , #registratieFormulier{
	width: 50%;
    margin: 60px auto;
    padding: 6% 4.5%;
	background: #808080;
	background: -moz-linear-gradient(#808080, #999);
	background: -webkit-linear-gradient(#808080, #999);
	background: -o-linear-gradient(#808080, #999);
    border-radius: 150px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}
#registratieFormulier label
{
	float: left;
	clear: left;
	width: 25%;
	margin-right: 20px;
}

#registratieFormulier input
{
	width: 50%;
	margin-right: 3%;
	margin-left: 3%;
}

#registratieFormulier i
{
  margin:7px 0px 0px -60px;;
 
}


#mailformulier h1, #openModal h1, #registratieFormulier h1{
	font-size: 35px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px 0;
	text-shadow: 0px 1px 0px #f2f2f2;
	-webkit-text-shadow: 
}
#mailformulier h2, #registratieFormulier h2
{
	font-size: 20px;
	color: #ffffff;
	margin: 0% 5% 5% 6%;
}

input[type=checkbox]
{
	padding: 0;
	margin: 2%1%3%6%;
	width: auto;
}
fieldset#login span
{
	color: #ffffff;
	font-variant: small-caps;
}
fieldset#login  a
{
	float: right;
	text-decoration: underline;
}
fieldset#login  a:hover
{
	color: #333333;
	text-decoration: none;
}


label {
	float: left;
    clear: left;
    margin: 1% 5% 0 6%;
    width: 100%;
	text-align: left;
    font-size: 16px;
    color: #ffffff; 
	text-transform: uppercase;
    text-shadow: 0px 1px 0px #f2f2f2;
}

input, textarea, input[type=date] {
	width: 64%;
    padding: 5px;
    margin: 2% 30% 1% 6%; 
	font-family: sans-serif;
    font-size: 14px;
    color: #808080;
    text-shadow: 0px -1px 0px #334f71; 
    background:  #bfbfbf;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #5c5c3d;
}
textarea
{
	width: 88%;
}

	
input:focus, textarea:focus {
	background: #f2f2f2;
}

input[type=submit], #registratieFormulier input[type=submit]  {
	width: 150px;
    height: 52px;
    float: right;
    padding: 10px 15px;
	font-size: 14px;
    margin: 25px 45px 0 0;
	box-shadow: 0px 0px 5px #999;
	color:  #e6e6e6;
	background:#595959;
	cursor: pointer;
	
}


input[type=submit]:hover , #registratieFormulier input[type=submit]:hover{
    background: #1a1a1a ;
}

span.rood
{
	color: #ff0000;
	font-weight: bolder;
	text-shadow: none;
	
}
span.bevestigBericht
{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
/*Modal login*/
.modalDialog 
{
	
	position: fixed;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:2;
	pointer-events: auto;
}

.modalDialog > div{
	width: 50%;
    border-radius: 12%;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
	position: relative;
	margin: 10% 25%20%25%;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #808080;
	background: -moz-linear-gradient(#808080, #999);
	background: -webkit-linear-gradient(#808080, #999);
	background: -o-linear-gradient(#808080, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #e60000; }


@media only screen and (max-width: 1500px)
{ /* tablet/ipad liggend*/
    #mailformulier , #registratieFormulier
	{
	width: 80%;
    margin: 20px auto;
    padding: 30px 15px;
	}
	input[type=submit], #registratieFormulier input[type=submit]
	{
    margin: 3% 10% 2% 0;
	}
	
	
}
@media only screen  and  (max-width:800px)
{ /* tablet rechtstaand + smartphone*/
	header
	{
		height: 50px;
	}
	header h1
	{
        display: block;
		height: 30px;
        margin: 0%15%0%15%;
        width: 70%;
		 border-radius: 50%;
        -webkit-border-radius: 50%;
		letter-spacing: normal;
	}
	#mailformulier , #registratieFormulier
	{

	border-radius: 10px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;	
    /*margin: 10px auto;*/
	}
	
	#registratieFormulier label
	{
	float: left;
	clear: left;
	width: 70%;
	margin-right: 3%;
	margin-left: 6%;
	}

	#registratieFormulier input
	{
	width: 80%;
	margin-right: 3%;
	margin-left: 6%;
	}
	#mailformulier h1, #openModal h1, #registratieFormulier h1
	{
	font-size: 25px;

	}
	#mailformulier h2, #registratieFormulier h2
	{
	font-size: 15px;
	
	}
	#mailformulierinput[type=submit], #registratieFormulier input[type=submit]
	{
	width: 100px;
    height: 40px;
	font-size: 14px;
    margin: 3% 10% 2% 0;
	}
	#mailformulier input[type=text], input[type=email], textarea, label
	{
		width: 90%
	}
}


	
	
	
	
	
	

 